---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.url }}/</loc><lastmod>{{ build.date }}</lastmod><changefreq>monthly</changefreq><priority>1.0</priority></url>
{%- for p in pubDetail %}
  <url><loc>{{ site.url }}/publications/{{ p.slug }}/</loc><lastmod>{{ p.year }}-01-01</lastmod><changefreq>yearly</changefreq><priority>0.9</priority></url>
{%- endfor %}
{%- for p in projects %}
  <url><loc>{{ site.url }}/projects/{{ p.slug }}/</loc><lastmod>{{ build.date }}</lastmod><changefreq>monthly</changefreq><priority>0.8</priority></url>
{%- endfor %}
</urlset>
