---
pagination:
  data: projects
  size: 1
  alias: project
layout: project.njk
permalink: "/projects/{{ project.slug }}/index.html"
eleventyComputed:
  title: "{{ project.title }} | Ju O Kim"
  canonical: "{{ site.url }}/projects/{{ project.slug }}/"
  description: "{{ project.metaDescription or (project.tagline | truncate(155, true)) }}"
  ogType: "article"
---
